

/*----for small mobile phones 0-480px*/

@media only screen and (max-width:480px){
    section{padding: 25px 0;}
    .contact-form{width: 100%;}
    .logo-black{
       
        height: 50px;
        width: auto;
      
        margin-top: 5px;
        
    }
  
}

/*-----for 480-768px for small mobile to small tablet*/
@media only screen and (max-width:768px){
    body{ font-size: 16px;}
    section{padding: 30px 0;}
    .row,.hero-text-box{padding: 0 4%;}
    .col
    {
        width: 100%;
        margin: 0% 0% 4% 0%;
    }
    .main-nav{display: none;}
    .mobile-nav-icon{display: inline-block;
    }
    .main-nav{
        float: left;
        margin-top: 35px; 
        margin-left: 10px;   
    }
    .main-nav li{
        display: block;
    }
    .main-nav li a:link,
    .main-nav li a:visited{
        display: block;
        border: 0;
        padding: 5px 0;

    }
    .sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding-bottom: 10px 0; 
  
}
.sticky .mobile-nav-icon i{
    color: black;
}
.sticky .mobile-nav-icon i{
    margin-top: 10px;
}

 .sticky .main-nav{
    
    margin: 10px 0;
    
}
    .logo{
        height: 80px;
    }
    h1{
        font-size: 180%;
    }
    h2{
        font-size: 150%;
    }
    .Long-copy{
       
        width: 100%;
        margin-left: 0%;
    }
    .works-step div{
       

       
        height: 40px;
        width: 40px;
       
        padding:4px;
       
        font-size: 120%;
        margin-right: 15px;
    
    }
    .steps-box:first-child{
       text-align: center;
       
        }
        .app-screen{
            width: 40%;
        }
    .works-step{
        margin-bottom: 20px;
    }
    .works-step:last-of-type{
        margin-bottom: 20px;
    }
}

/*---- for ipad  and big tablet in portrait mode 1024px*/

@media only screen and (max-width:1024px){
    body{
        font-size: 18px;
    }
    section{ padding: 60px 0;}
    
    .Long-copy{
        line-height: 145%;
        width: 80%;
        margin-left: 10%;
    }
        
    .steps-box{
        margin-top: 10px;
    }
    .works-step{
        margin-bottom: 40px;
    }
    .works-step:last-of-type{
        margin-bottom: 60px;
    }
    .steps-box:last-child{
        padding-left: 3%;
        
        margin-top: 70px;
    }
    .app-screen{
        width: 50%;
    }
    .icon-small{width: 17px;
    margin-right: 5px;}
    .city-feature{font-size: 90%;}
        .plan-box{
            width:100%;
            margin-left: 0%;
        }
        .plan-price{
            font-size:250% ;
        }
        .contact-form{
            width: 80%;
        }
}

/*-----for big tablet to 1300px*/
@media only screen and (max-width:1200px){
    .hero-text-box{
       
        width: 100%;
        padding: 0 2%;
       
    }
    .row{
        padding: 0 2%;
    }
}

